.places {
  margin: 0 auto 92px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media all and (max-width: 1023px) {
  .places {
    gap: 73px;
    margin-bottom: 90px;
  }
}

@media all and (max-width: 767px) {
  .places {
    margin-bottom: 66px;
    gap: 50px;
  }
}