.places {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    margin-left: 38px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .places {
    margin: 0;
    gap: 80px;
  }
}

@media all and (max-width: 767px) {
  .places {
    gap: 50px;
  }
}