.header {
  width: 93%;
  margin: 28px 0 35px;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
}

@media all and (max-width:1279px) {
  .header {
    margin: 28px 0 25px;
  }
}

@media all and (max-width: 1023px) {
  .header {
    margin: 28px 0 22px;
  }
}

@media all and (max-width: 767px) {
  .header {
    margin: 16px 0 40px;
  }
}