.lead__title {
  font-style: normal;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px;
  color: #FFFFFF;
}

@media all and (max-width: 767px) {
  .lead__title {
    margin-bottom: 16px;
    line-height: 44px;
    font-size: 40px;
  }
}