.cover {
min-width: 1184px;
min-height: 740px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
}

@media all and (max-width: 1279px) {
  .cover {
    min-width: 1024px;
    min-height: 640px;
  }
}

@media all and (max-width: 1023px) {
  .cover {
    min-width: 768px;
    min-height: 480px;
  }
}

@media all and (max-width: 767px) {
  .cover {
    min-width: 320px;
    min-height: 200px;
  }
}
