.place {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media all and (max-width: 1279px) {
  .place {
    max-width: 928px;
  }
}

@media all and (max-width: 1023px) {
  .place {
    max-width: 720px;
    max-height: 535px;
  }
}

@media all and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
  }
}